[submodule "oh-my-vimrc"]
	path = oh-my-vimrc
	url = https://github.com/thisiswangle/oh-my-vimrc.git
[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = https://github.com/thisiswangle/oh-my-zsh.git
[submodule "oh-my-ssh-keys"]
	path = oh-my-ssh-keys
	url = https://github.com/thisiswangle/oh-my-ssh-keys.git
