.CFUserTextEncoding
.DS_Store
.netrwhist
.Trash/
.android/
.bash_history
.bash_profile
.cache/
.config/
.cups/
.dir_colors
.distlib/
.dropbox/
.dropbox-master/
.gem/
#.gitconfig
#.gitignore
.hgignore_global
.htoprc
.kindle/
.lesshst
.local/
.m2/
.matplotlib/
.nbprofiler/
#.oh-my-zsh/
#.pip/
pip.log
.pyenv/
.ssh/*
!.ssh/config
!.ssh/*.pub
.subversion/
#.tmunx.conf
.vagrant.d/
#.vim/
#.vim_mru_files
#.vim_runtime/
#.viminfo
#.vimrc
.virtualenvs/
.zcompdump-iforget-5.0.2
.zsh-update
.zsh_history
#.zshrc
Applications/
Desktop/
Documents/
Downloads/
Dropbox/
Library/
Movies/
Music/
Pictures/
Public/
VirtualBox VMs/
Workspace/
